@import 'bootstrap-grid';
@import 'sortable';

#wp-admin-bar-new-content {
	display: none !important;
}

#wp-admin-bar-comments {
	display: none !important;
}

#dashboard_quick_press {
	display: none !important;
}

.diary-years {
	margin: 0 -20px;

	.diary-year {
		width: 22%;
		float: left;
		margin: 20px;
		transition: all 350ms ease;
		transform: scale(1);
		position: relative;
		box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;

	    &.hidden-year {
	    	box-shadow: inset 0px 0px 0px 3px #ca4a1f !important;
	    }

		&:hover,
		&.focus {
			transform: scale(1.05);
			transition: all 350ms ease;
			z-index: 2;
		    box-shadow: inset 0px 0px 0px 3px #0073aa;
		}

		h3 {
			font-size: 1.5em;
			margin: 0;
			background: rgba(0, 0, 0, .2);
			padding: 15px;
			line-height: 1;

			.delete-year {
				float: right;
				text-decoration: none;
				color: #23282d;
				opacity: .6;

				&:hover {
					opacity: 1;
				}
			}
		}

		.months {
			background: rgba(0, 0, 0, .1);
			padding: 15px;
			margin: 0;
			height: 200px;

			li {
				display: inline-block;
				width: 49%;

				// &.no-posts {
				// 	opacity: .8
				// }

				&.has-posts {
					font-weight: bold;
				}
			}
		}
	}

}

.diary-month-editor {

	.heading {
		margin-bottom: 15px;
	}

	.wpeditor-posts {

		.order-post {
			width: 60px;
		}

		.dashicons-move {
			cursor: pointer;
		}

		.post-image {
			margin: -9px 0 -9px 5px;
			height: 30px;
		}

	}

	.live-preview-container {
		background: #fff;
		border: 1px solid #e5e5e5;
		box-shadow: 0 1px 1px rgba(0,0,0,.04);
		margin-top: 15px;
		text-align: center;

		a {
			padding: 15px;
			border-bottom: 1px solid #ddd;
			margin-bottom: 15px;
			display: block;
		}

		.live-preview {
			width: 100%;
			height: 100%;
			max-width: 690px;
			height: 500px;
			margin-bottom: 20px;;
			overflow: hidden;
			display: block;
			margin: 0 auto;
		
			&:hover {
				overflow: scroll;
			}
		}

	}

	.hide-month,
	.show-month {
		margin-top: -3px;
		margin-bottom: 1em;

		i {
			display: block;
			color: #868686;
			margin-top: 5px;
		}
	}

	.description {
		h3 {
			margin-top: 0;
		}

		.wp-editor-wrap {
			margin-bottom: 10px;
		}
	}
}

.wdeditor-back-to-link {
	display: block;
	margin: 0 0px -5px 0;
	position: relative;
	left: 1px;
}

body.post-php,
body.post-new-php {

	#excerpt {
		height: 150px !important;
	}

	.imgevr-get-premium {
		display: none;
	}

	#formatdiv {
		display: none;
	}

	#commentsdiv {
		display: none;
	}

	/* Hide the default timestamp field */
	.misc-pub-curtime {
		display: none;
	}

	/* Hide the default category selector */
	#categorydiv {
		display: none;
	}
}