@import 'bootstrap-grid';
@import 'sortable';

.diary-years {
	margin: 0 -20px;

	.diary-year {
		width: 22%;
		float: left;
		margin: 20px;
		transition: all 250ms ease;
		transform: scale(1);
		position: relative;

		&:hover {
			transform: scale(1.05);
			transition: all 250ms ease;
			z-index: 2;
		}

		h3 {
			font-size: 1.5em;
			margin: 0;
			background: rgba(0, 0, 0, .2);
			padding: 15px;
			line-height: 1;
		}

		.months {
			background: rgba(0, 0, 0, .1);
			padding: 15px;
			margin: 0;

			li {
				display: inline-block;
				width: 49%;

				// &.no-posts {
				// 	opacity: .8
				// }

				&.has-posts {
					font-weight: bold;
				}
			}
		}
	}

}

.diary-month-editor {

	.heading {
		margin-bottom: 15px;
	}

	.wpeditor-posts {

		.order-post {
			width: 60px;
		}

		.dashicons-move {
			cursor: pointer;
		}

		.post-image {
			margin: -9px 0 -9px 5px;
			height: 30px;
		}

	}

	.live-preview-container {
		background: #fff;
		border: 1px solid #e5e5e5;
		box-shadow: 0 1px 1px rgba(0,0,0,.04);
		margin-top: 15px;
		text-align: center;

		a {
			padding: 15px;
			border-bottom: 1px solid #ddd;
			margin-bottom: 15px;
			display: block;
		}

		.live-preview {
			width: 100%;
			height: 100%;
			max-width: 690px;
			height: 500px;
			margin-bottom: 20px;;
			overflow: hidden;
			display: block;
			margin: 0 auto;
		
			&:hover {
				overflow: scroll;
			}
		}

	}

	.description {
		h3 {
			margin-top: 0;
		}

		.wp-editor-wrap {
			margin-bottom: 10px;
		}
	}
}